includes:
    - vendor/szepeviktor/phpstan-wordpress/extension.neon

parameters:
    level: 6
    paths:
        - src
    scanFiles:
        - event-registration.php
    treatPhpDocTypesAsCertain: false
